# demo-autoconfig editable local configuration.
# Copy to /etc/demo-autoconfig/config.env or create it with Initial setup.

ROLE="HQ-RTR"
HOSTNAME="hq-rtr.au-team.irpo"
DOMAIN="au-team.irpo"

ISO_PATH="/mnt/Additional.iso"
ISO_MOUNTPOINT="/mnt/additional"
LOCK_RESOLV_CONF="no"
NETWORK_APPLY_ACTION="restart"
RESOLV_OPTIONS="timeout:2 attempts:3"

INTERFACES="ens33 ens36 ens36.100 ens36.200 ens36.999 ens37"
WAN_IFACE="ens33"
LAN_IFACE="ens36"
MGMT_IFACE="ens36.999"
INTERNET_IFACE="ens37"
INTERNET_IFACE_METRIC="300"
DEFAULT_GW_METRIC="100"

IPV4_CONFIGS="ens33:172.16.1.2/28 ens36:manual ens36.100:192.168.100.1/28 ens36.200:192.168.200.1/27 ens36.999:192.168.250.1/29 ens37:dhcp"
DEFAULT_GW="172.16.1.1"
DNS_SERVERS="192.168.100.2 8.8.8.8"
HOSTS_ENTRIES="172.16.1.1 docker.au-team.irpo docker;192.168.100.2 hq-srv.au-team.irpo hq-srv"

NEIGHBOR_IPS="172.16.1.1 192.168.100.2"
INTERNET_TEST_IP="8.8.8.8"

ROUTER_ROLES="ISP HQ-RTR BR-RTR"
IP_FORWARD="auto"
NAT_ENABLE="yes"
NAT_OUT_IFACE="ens33"
NAT_LAN_CIDRS="192.168.100.0/28 192.168.200.0/27 192.168.250.0/29"
NAT_EXCLUDE_CIDRS="192.168.100.0/28 192.168.200.0/27 192.168.250.0/29 192.168.255.0/28 172.16.0.0/16 10.0.0.0/30"
STATIC_ROUTES="172.16.2.0/28:172.16.1.1:ens33"
STATIC_ROUTES_IFACE="ens33"

GRE_ENABLE="yes"
GRE_NAME="gre30"
GRE_LOCAL_IP="172.16.1.2"
GRE_REMOTE_IP="172.16.2.2"
GRE_TUNNEL_LOCAL_CIDR="10.0.0.1/30"
GRE_TUNNEL_REMOTE_CIDR="10.0.0.2/30"
GRE_ROUTES="192.168.255.0/28:10.0.0.2"
GRE_TTL="225"

OSPF_ENABLE="yes"
OSPF_ROUTER_ID=""
OSPF_NETWORKS="192.168.100.0/28 192.168.200.0/27 192.168.250.0/29 10.0.0.0/30"
OSPF_ACTIVE_IFACES="gre30"
OSPF_AUTH_KEY="1c+rYtGm"

DHCP_ENABLE="yes"
DHCP_IFACE="ens36.200"
DHCP_SUBNET="192.168.200.0 netmask 255.255.255.224"
DHCP_RANGE_START="192.168.200.2"
DHCP_RANGE_END="192.168.200.30"
DHCP_OPTION_ROUTERS="192.168.200.1"
DHCP_OPTION_DNS="192.168.100.2"
DHCP_BROADCAST_ADDRESS="192.168.200.31"
DHCP_DOMAIN="au-team.irpo"

BIND_ENABLE="no"
BIND_ZONES=""
BIND_PRIMARY_ZONE="au-team.irpo"
BIND_ZONE_SERIAL="2025101302"
BIND_NS_NAME="ns1"
BIND_NS_IP="192.168.100.2"
BIND_APEX_IP="192.168.100.2"
BIND_ADMIN_NAME="admin"
BIND_LISTEN_ON="any"
BIND_ALLOW_QUERY="127.0.0.1 192.168.100.0/28 192.168.200.0/27 192.168.250.0/29 192.168.255.0/28 172.16.0.0/16 10.0.0.0/30"
BIND_FORWARDERS="77.88.8.7 77.88.8.3"
BIND_FORWARD_RECORDS="hq-rtr:192.168.100.1 br-rtr:192.168.255.1 hq-srv:192.168.100.2 hq-cli:192.168.200.2 br-srv:192.168.255.2 docker:172.16.1.1 web:172.16.1.1"
BIND_REVERSE_ZONES="100.168.192.in-addr.arpa:db.192.168.100 200.168.192.in-addr.arpa:db.192.168.200 255.168.192.in-addr.arpa:db.192.168.255"
BIND_REVERSE_RECORDS="100.168.192.in-addr.arpa:1:hq-rtr 100.168.192.in-addr.arpa:2:hq-srv 200.168.192.in-addr.arpa:2:hq-cli 255.168.192.in-addr.arpa:1:br-rtr 255.168.192.in-addr.arpa:2:br-srv"

SSH_HARDENING="yes"
SSH_PORT="2026"
SSH_PERMIT_ROOT_LOGIN="no"
SSH_PASSWORD_AUTHENTICATION="yes"
SSH_MAX_AUTH_TRIES="2"
SSH_ALLOW_USERS="user net_admin"
SSH_BANNER_TEXT="Authorized access only."
SSH_USER="sshuser"
SSH_USER_UID="2026"
SSH_PASSWORD="P@ssw0rd"
SSH_REMOTE_USER="user"
SSH_SERVER_PORT=2026
SSH_ROUTER_USER="net_admin"
SSH_ROUTER_PASSWORD="P@ssw0rd"
SSH_ROUTER_EXTRA_USER="user"
SSH_ROUTER_PORT=22
SSH_CLIENT_CONFIG="no"
ADMIN_PASSWORD="P@ssw0rd"
DOCKER_DB_NAME="testdb"
DOCKER_DB_USER="test"
DOCKER_DB_PASSWORD="P@ssw0rd"
DOCKER_DB_ROOT_PASSWORD="rootP@ssw0rd"
HQ_SRV_IP="192.168.100.2"
HQ_RTR_HQ_IP="192.168.100.1"
HQ_RTR_WAN_IP="172.16.1.2"
BR_RTR_WAN_IP="172.16.2.2"
BR_RTR_LAN_IP="192.168.255.1"
BR_SRV_IP="192.168.255.2"
HQ_CLI_IP="192.168.200.2"
HQ_CLI_NET="192.168.200.0/27"
NTP_SERVER_IP="172.16.1.1"
NFS_DIR="/raid/nfs"
SAMBA_DOMAIN="AU-TEAM"
SAMBA_DNS_FORWARDER="8.8.8.8"
DOCKER_SITE_IMAGE="site:latest"
DOCKER_DB_IMAGE="mariadb:10.11"
DOCKER_SITE_TAR="docker/site_latest.tar"
DOCKER_DB_TAR="docker/mariadb_latest.tar"
USERS_CSV_PATH="Users.csv"
MODULE2_CREATE_RAID="yes"
HQ_CLI_ANSIBLE_USER="user"
HQ_CLI_ANSIBLE_PASSWORD="root"
HQ_CLI_ANSIBLE_PORT=22
YANDEX_BROWSER_ENABLE="yes"

# Module 3 ISP orchestration
MODULE3_ORCHESTRATE_FROM_ISP="yes"
MODULE3_INSTALL_ONLY="no"
IPSEC_PSK="P@ssw0rd"
SSH_CLI_PORT=22
