MODULE3_ORCHESTRATE_FROM_ISP="yes"
MODULE3_INSTALL_ONLY="no"

SSH_SERVER_USER="sshuser"
SSH_SERVER_PASSWORD="P@ssw0rd"
SSH_SERVER_PORT=2026

SSH_ROUTER_USER="net_admin"
SSH_ROUTER_PASSWORD="P@ssw0rd"
SSH_ROUTER_PORT=22

SSH_CLI_USER="sshuser"
SSH_CLI_PASSWORD="P@ssw0rd"
SSH_CLI_PORT=22

DOCKER_SITE_IMAGE="site_latest:latest"
DOCKER_DB_IMAGE="mariadb_latest:latest"

MODULE3_IPSEC_PSK="1c+rYtGm"
MODULE3_USERS_CSV="/mnt/additional/Users.csv"
WEB_AUTH_USER="WEB"
WEB_AUTH_PASS="P@ssw0rd"
HQ_CLI_ANSIBLE_PORT=22
