# demo-autoconfig editable local configuration.
# Copy to /etc/demo-autoconfig/config.env or create it with Initial setup.

ROLE="HQ-RTR"
HOSTNAME="hq-rtr.au-team.irpo"
DOMAIN="au-team.irpo"

ISO_PATH="/mnt/Additional.iso"
ISO_MOUNTPOINT="/mnt/additional"
LOCK_RESOLV_CONF="no"

INTERFACES="ens18 ens19"
WAN_IFACE="ens18"
LAN_IFACE="ens19"
MGMT_IFACE=""

IPV4_CONFIGS="ens18:dhcp ens19:192.168.10.1/24"
DEFAULT_GW=""
DNS_SERVERS="192.168.10.10 8.8.8.8"
HOSTS_ENTRIES="192.168.10.10 hq-srv.au-team.irpo hq-srv;192.168.20.10 br-srv.au-team.irpo br-srv"

NEIGHBOR_IPS=""
INTERNET_TEST_IP="8.8.8.8"

ROUTER_ROLES="ISP HQ-RTR BR-RTR"
IP_FORWARD="auto"
NAT_ENABLE="no"
NAT_OUT_IFACE=""
NAT_LAN_CIDRS=""
STATIC_ROUTES=""
STATIC_ROUTES_IFACE=""

GRE_ENABLE="no"
GRE_NAME="gre1"
GRE_LOCAL_IP=""
GRE_REMOTE_IP=""
GRE_TUNNEL_LOCAL_CIDR=""
GRE_TUNNEL_REMOTE_CIDR=""
GRE_ROUTES=""
GRE_TTL="255"

OSPF_ENABLE="no"
OSPF_ROUTER_ID=""
OSPF_NETWORKS=""
OSPF_ACTIVE_IFACES=""
OSPF_AUTH_KEY=""

DHCP_ENABLE="no"
DHCP_IFACE=""
DHCP_SUBNET=""
DHCP_RANGE_START=""
DHCP_RANGE_END=""
DHCP_OPTION_ROUTERS=""
DHCP_OPTION_DNS=""
DHCP_BROADCAST_ADDRESS=""
DHCP_DOMAIN=""

BIND_ENABLE="no"
BIND_ZONES=""

SSH_HARDENING="yes"
SSH_PORT="22"
SSH_PERMIT_ROOT_LOGIN="prohibit-password"
SSH_PASSWORD_AUTHENTICATION="yes"
SSH_MAX_AUTH_TRIES=""
SSH_ALLOW_USERS=""
SSH_BANNER_TEXT=""
