# demo-autoconfig editable local configuration.
# Copy to /etc/demo-autoconfig/config.env or create it with Initial setup.

ROLE="HQ-RTR"
HOSTNAME="hq-rtr.au-team.irpo"
DOMAIN="au-team.irpo"

ISO_PATH="/mnt/Additional.iso"
ISO_MOUNTPOINT="/mnt/additional"
LOCK_RESOLV_CONF="no"
NETWORK_APPLY_ACTION="restart"

INTERFACES="ens33 ens36 ens36.100 ens36.200 ens36.999 ens37"
WAN_IFACE="ens33"
LAN_IFACE="ens36"
MGMT_IFACE="ens36.999"
INTERNET_IFACE="ens37"
INTERNET_IFACE_METRIC="300"
DEFAULT_GW_METRIC="100"

IPV4_CONFIGS="ens33:172.16.1.2/28 ens36:manual ens36.100:192.168.100.1/28 ens36.200:192.168.200.1/27 ens36.999:192.168.250.1/29 ens37:dhcp"
DEFAULT_GW="172.16.1.1"
DNS_SERVERS="8.8.8.8 192.168.100.2"
HOSTS_ENTRIES="172.16.1.1 docker.au-team.irpo docker;192.168.100.2 hq-srv.au-team.irpo hq-srv"

NEIGHBOR_IPS="172.16.1.1 192.168.100.2"
INTERNET_TEST_IP="8.8.8.8"

ROUTER_ROLES="ISP HQ-RTR BR-RTR"
IP_FORWARD="auto"
NAT_ENABLE="yes"
NAT_OUT_IFACE="ens33"
NAT_LAN_CIDRS="192.168.100.0/28 192.168.200.0/27 192.168.250.0/29"
NAT_EXCLUDE_CIDRS="192.168.100.0/28 192.168.200.0/27 192.168.250.0/29 192.168.255.0/28 172.16.0.0/16 10.0.0.0/30"
STATIC_ROUTES="172.16.2.0/28:172.16.1.1:ens33"
STATIC_ROUTES_IFACE="ens33"

GRE_ENABLE="yes"
GRE_NAME="gre30"
GRE_LOCAL_IP="172.16.1.2"
GRE_REMOTE_IP="172.16.2.2"
GRE_TUNNEL_LOCAL_CIDR="10.0.0.1/30"
GRE_TUNNEL_REMOTE_CIDR="10.0.0.2/30"
GRE_ROUTES="192.168.255.0/28:10.0.0.2"
GRE_TTL="225"

OSPF_ENABLE="yes"
OSPF_ROUTER_ID=""
OSPF_NETWORKS="192.168.100.0/28 192.168.200.0/27 192.168.250.0/29 10.0.0.0/30"
OSPF_ACTIVE_IFACES="gre30"
OSPF_AUTH_KEY="1c+rYtGm"

DHCP_ENABLE="yes"
DHCP_IFACE="ens36.200"
DHCP_SUBNET="192.168.200.0 netmask 255.255.255.224"
DHCP_RANGE_START="192.168.200.2"
DHCP_RANGE_END="192.168.200.30"
DHCP_OPTION_ROUTERS="192.168.200.1"
DHCP_OPTION_DNS="192.168.100.2"
DHCP_BROADCAST_ADDRESS="192.168.200.31"
DHCP_DOMAIN="au-team.irpo"

BIND_ENABLE="no"
BIND_ZONES=""

SSH_HARDENING="yes"
SSH_PORT="22"
SSH_PERMIT_ROOT_LOGIN="prohibit-password"
SSH_PASSWORD_AUTHENTICATION="yes"
SSH_MAX_AUTH_TRIES=""
SSH_ALLOW_USERS=""
SSH_BANNER_TEXT=""
